--extra-index-url https://download.pytorch.org/whl/cpu

celery
redis
pandas
python-dotenv
azure-storage-blob
adlfs
python-json-logger
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
openpyxl
pyarrow
scikit-learn
networkx